---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			main:last-child {
				width: 100%;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
			.comments {
				width: 50%;
				margin: 0 auto; /* This centers the div horizontally */
				max-width: 720px; /* Match the max-width of your prose section */
				padding: 1em
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="prose">
					<div class="title">
						<h1>{title}</h1>
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<hr />
					</div>
					<div class="hero-image">
						{heroImage && <img width={510} height={255} src={heroImage} alt="" />}
					</div>
					<br/>
					<slot />
				</div>
			</article>
			<div class="comments">
				<script src="https://giscus.app/client.js"
				        data-repo="vasilisalmpanis/vasilisalmpanis.github.io"
				        data-repo-id="R_kgDON_7IzA"
				        data-category="Blog Comments"
				        data-category-id="DIC_kwDON_7IzM4Coqnp"
				        data-mapping="url"
				        data-strict="0"
				        data-reactions-enabled="1"
				        data-emit-metadata="0"
				        data-input-position="bottom"
				        data-theme="light"
				        data-lang="en"
				        data-loading="lazy"
				        crossorigin="anonymous"
				        async>
				</script>
			</div>
		</main>
		<Footer />
	</body>
</html>

